# Java / Maven
target/
*.class
*.jar
*.war
*.iml
*.log

# IDE files
.idea/
*.ipr
*.iws
*.classpath
*.project

# OS files
.DS_Store
Thumbs.db

# Node / Frontend (if any)
node_modules/

#hid explicitly
pom.xml